/* Fonts */
$font-family-base: "Montserrat Alternates", sans-serif;

/* Colors */
$color-background: #01070A;
$color-accent: rgba(188, 0, 0, 0.70);  
$color-text: #FFFFFF; 
$color-button-hover: rgba(217, 217, 217, 0.30);
