/* Fonts */
$font-family-base: "Montserrat Alternates", sans-serif;

/* Colors */
$color-background: #01070A;
$color-background-light: rgba(1, 7, 10, 0.85);
$color-accent: rgba(188, 0, 0, 0.70);  
$color-text: #FFFFFF; 
$color-text-light: rgba(255, 255, 255, 0.50);
$color-button-hover: rgba(217, 217, 217, 0.30);

