@use "@/app/styles/variables" as *;
@use "@/app/styles/mixins" as *;

.aboutUs__section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutUs__content {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 109px;

    @include large-desktop {
        padding-top: 50px;
        margin-bottom: 134px;
    }

    .aboutUs__image {
        height: 400px;
        width: auto;

        @include large-desktop {
            width: 1176px;
            height: auto;
        }
    }

    .aboutUs__textBlock {
        max-width: 481px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & h2 {
            font-family: "Montserrat Alternates";
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;

            margin: 0;
        }

        & p {
            text-align: center;
            font-size: 17px;
            font-weight: 300;

            margin: 0;
        }

        .aboutUs__subtitle {
            font-size: 24px;
            font-weight: 300;
            text-align: center;

            margin: 0;
        }

        .filmSearch__button {
            @include rounded-button;
            font-size: 20px;
            padding: 7px 21px;
        }
    }

    .aboutUs__description {
        margin-top: 31px;
        margin-bottom: 61px;
    }
}

.aboutUs__tmdb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    margin: 0 auto 23px auto;

    .aboutUs__tmdbLogo {
        width: 160px;
        height: 21px;
        aspect-ratio: 160/21;
    }

    .aboutUs__tmdbText {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 300;

        margin: 0;
    }
}
