@use "./styles/variables" as *;

body {
    margin: 0;
    background: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    color: $color-text;
    font-family: $font-family-base;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background: none;

    &:hover {
        cursor: pointer;
    }
}

hr {
    border: none;
    height: 1px;
    background: $color-text;
    width: 100%;
    margin-bottom: 45px;
    margin-top: 0;
}

body {
    margin-left: 66px;
    margin-right: 66px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(217, 217, 217, 0.3) rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(217, 217, 217, 0.3);
}
