main {
  position: relative;
}
.registration-login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: -200px;  */
  z-index: 1000;
}
.form-title {
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
  text-transform: uppercase;
}
.form-description {
  font-size: 8px;
  text-align: center;
}
.close-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.close-login-btn,
.close-register-btn {
  cursor: pointer;
}
/* ============= РЕЄСТАЦІЯ ==================== */
.error-input,
.error-name-input {
  font-size: 8px;
  color: #bc0000;
}
.error-input-msg {
  font-size: 8px;
  color: #bc0000;
}
.confirm-password-error {
  margin-top: 5px;
}
.password-error {
  width: 210px;
  margin-top: 5px;
}
.registration-form {
  max-width: 443px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 60px;
  background-color: #01070a;

  border: 1px solid #ccc;
  border-radius: 50px;
}

.register-field-label {
  display: flex;
  flex: 30% 70%;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.register-field-label:first-child {
  margin-top: 40px;
}
.register-field-label span {
  font-size: 15px;
}
#email,
#password,
#confirm-password,
#name {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 6px 20px;
  color: #ffffff;
  width: 150px;
}
#email {
  width: 150px;
}
#password,
#confirm-password {
  width: 100%;
  padding: 6px 20px;
  border: none;
  font-size: 16px;
}
.register-password-wrapper {
  border: 1px solid white;
  border-radius: 50px;

  display: flex;
  width: 190px;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;

  position: relative;
}
.register-field-password {
  margin-right: 190px;
}
.register-field-confirm-password {
  margin-right: 130px;
}
.register-field-name {
  margin-right: 210px;
}
#toggle-password-confirm-register,
#toggle-password-register {
  background-color: transparent;
  color: #666;
  border: none;

  position: absolute;
  top: 50%;
  right: 10px; /* Відступ від правого краю поля */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.register-field-name-wrapper,
.register-field-wrapper {
  width: 100%;
  text-align: center;
}

.not-required-field {
  width: 100%;
  font-size: 8px;
  align-items: center;
  text-align: center;
  color: #bc0000;
  margin-top: 5px;
}
#submit-registration-btn {
  width: 60%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin: 35px auto 0 auto;
  display: block;
}
#submit-registration-btn:hover {
  background-color: #d9d9d95b;
}
.submit {
  font-size: 12px;
  width: 206px;
  margin: 10px auto;
  display: block;
}
.submit-label {
  display: flex;
}
/* ====================  ВХІД ======================== */

.login-form {
  max-width: 443px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 60px;
  background-color: #01070a;

  border: 1px solid #ccc;
  border-radius: 50px;
}

.login-field-label {
  display: flex;
  margin-top: 40px;
  gap: 15px;
  align-items: center;
}
.login-field-label span {
  font-size: 15px;
}

.login-field-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 6px 20px;
  color: #ffffff;
  width: 190px;
}

.login-password-field {
  display: flex;
  width: 190px;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;

  position: relative;
}
.login-password-field-title {
  margin-right: 90px;
}
#login-password {
  width: 100%;
  padding: 6px 20px;
  border: none;
  font-size: 16px;
}
.login-password-field-btn {
  position: absolute;
  top: 50%;
  right: 10px; /* Відступ від правого краю поля */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.forgot-password {
  color: white;
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
}
.login-password-field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#submit-login-btn {
  width: 60%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin: 35px auto 0 auto;
  display: block;
}
#submit-login-btn:hover {
  background-color: #d9d9d95b;
}
.login-error-input-msg {
  color: #bc0000;
  font-size: 10px;
  text-align: right;
  margin-top: 20px;
}

.close-succesfull-window {
  cursor: pointer;
}
.successful-registration-text {
  text-align: center;
}
.successful-registration {
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: -200px;  */
  z-index: 40000;

  padding: 70px;
  padding-top: 40px;
  font-size: 32px;
  border: 1px solid white;
  background-color: #01070a;
  color: #ffffff;
  border-radius: 50px;

  margin: auto auto;
}

/* фон модального вікна */

.you {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 99;
}
.you button {
  pointer-events: none;
  cursor: not-allowed;
}
