main {
  position: relative;
}
.registration-login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: -200px;  */
  z-index: 1000;
  width: 500px;
}
.form-title {
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
  text-transform: uppercase;
}
.form-description {
  font-size: 8px;
  text-align: center;
}
.close-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.close-login-btn,
.close-register-btn {
  cursor: pointer;
}
/* ============= РЕЄСТАЦІЯ ==================== */
.error-input,
.error-name-input {
  font-size: 8px;
  color: #bc0000;
}
.error-input-msg,
.new-error-input-msg {
  font-size: 8px;
  color: #bc0000;
  margin-top: 5px;
}
.confirm-password-error {
  margin-top: 5px;
}
.password-error {
  width: 210px;
  margin-top: 5px;
}
.registration-form {
  max-width: 443px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 60px;
  background-color: #01070a;

  border: 1px solid #ccc;
  border-radius: 50px;
  height: 520px;
}

.register-field-label {
  display: flex;
  flex: 30% 70%;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.register-field-label:first-child {
  margin-top: 40px;
}
.register-field-label span {
  font-size: 15px;
}
#email,
#password,
#confirm-password,
#name {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 6px 20px;
  color: #ffffff;
  width: 150px;
}
#email {
  width: 150px;
}
#password,
#confirm-password {
  width: 100%;
  padding: 6px 20px;
  border: none;
  font-size: 16px;
}
.register-password-wrapper {
  border: 1px solid white;
  border-radius: 50px;

  display: flex;
  width: 190px;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;

  position: relative;
}
.register-field-password {
  margin-right: 168px;
}
.register-field-confirm-password {
  margin-right: 108px;
}
.register-field-name {
  margin-right: 188px;
}
#toggle-password-confirm-register,
#toggle-password-register {
  background-color: transparent;
  color: #666;
  border: none;

  position: absolute;
  top: 50%;
  right: 10px; /* Відступ від правого краю поля */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.register-field-name-wrapper,
.register-field-wrapper {
  width: 100%;
  text-align: center;
}

.not-required-field {
  width: 100%;
  font-size: 8px;
  align-items: center;
  text-align: center;
  color: #bc0000;
  margin-top: 5px;
}
#submit-registration-btn {
  width: 60%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin: 35px auto 0 auto;
  display: block;
}
#submit-registration-btn:hover {
  background-color: #d9d9d95b;
}
.submit {
  font-size: 12px;
  width: 206px;
  margin: 10px auto;
  display: block;
}
.submit-label {
  display: flex;
}
/* ====================  ВХІД ======================== */

.login-form {
  max-width: 443px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 50px;
  background-color: #01070a;

  border: 1px solid #ccc;
  border-radius: 50px;
  height: 400px;
}

.login-field-label {
  display: flex;
  margin-top: 40px;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.login-field-label span {
  font-size: 15px;
}

.login-field-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 6px 20px;
  color: #ffffff;
  width: 148px;
}

.login-password-field {
  display: flex;
  width: 190px;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;

  position: relative;
}
.login-password-field-title {
  margin-right: 90px;
}
#login-password {
  width: 100%;
  padding: 6px 20px;
  border: none;
  font-size: 16px;
}
.login-password-field-btn {
  position: absolute;
  top: 50%;
  right: 10px; /* Відступ від правого краю поля */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.forgot-password {
  color: white;
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
}
.login-password-field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#submit-login-btn {
  width: 60%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin: 35px auto 0 auto;
  display: block;
}
#submit-login-btn:hover {
  background-color: #d9d9d95b;
}
.login-error-input-msg {
  color: #bc0000;
  font-size: 10px;
  text-align: right;
  margin-top: 20px;
}

.close-succesfull-window {
  cursor: pointer;
}
.successful-registration-text {
  text-align: center;
}
.successful-registration {
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: -200px;  */
  z-index: 40000;

  padding: 70px;
  padding-top: 40px;
  font-size: 32px;
  border: 1px solid white;
  background-color: #01070a;
  color: #ffffff;
  border-radius: 50px;

  margin: auto auto;
}

/* фон модального вікна, закриття/відкриття*/

.you {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 99;
}
.you button {
  pointer-events: none;
  cursor: not-allowed;
}
.login-modal-open .best_film__img:hover {
  cursor: default;

  width: 103px;
  height: 277px;
  z-index: initial;
}

.login-modal-open .best_film__img:hover + .dropleft,
.login-modal-open .best_film__img:hover + .dropright {
  display: none;
}

/* .login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
} */
/* -------- забув пороль вікно  -------- */
.forgot-password-window-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 40000;
  background-color: #01070a;
  border-radius: 50px;
  border: 1px solid white;
  padding: 18px 35px 100px 35px;
}
.forgot-password-window-title {
  text-align: center;
  margin-top: 35px;
  font-size: 24px;
}
.forgot-password-window-description {
  text-align: center;
  font-size: 8px;
}
#recovery-email {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 6px 20px;
  color: #ffffff;
  width: 150px;
}
#recovery-email {
  width: 150px;
}
.recovery-message-btn {
  background-color: black;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  border: 2px solid transparent;
  padding: 5px 50px;
  font-size: 2.344vw;
  border-radius: 50px;
  transition: background-color 0.8s;
  margin: 0 auto;
  display: block;
  border-color: white;
  margin-top: 30px;
}
.recovery-message-btn:hover {
  background-color: #222;
  color: white;
  transition: border-color 0.8s ease, color 0.8s ease;
}
/* --------------------- */
.recovery-message-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 40000;

  background-color: #01070a;
  border-radius: 50px;
  border: 1px solid white;

  padding: 18px 70px 100px 70px;
}
.recovery-message-text {
  text-align: center;
  margin-top: 60px;
  font-size: 24px;
}

/* ------------- */

.new-password-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 40000;

  background-color: #01070a;
  border-radius: 50px;
  border: 1px solid white;

  padding: 18px 70px 100px 70px;
}
.new-pasword-title {
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
}

#new-password,
#new-confirm-password {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 6px 20px;
  color: #ffffff;
  width: 150px;
}

#new-password,
#new-confirm-password {
  width: 100%;
  padding: 6px 20px;
  border: none;
  font-size: 16px;
}
.new-password-error,
.confirm-new-password-error {
  margin-top: 5px;
}
.register-field-confirm-new-password {
  margin-right: 190px;
}
.save-new-password-btn {
  background-color: black;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  border: 2px solid transparent;
  padding: 5px 50px;
  font-size: 2.344vw;
  border-radius: 50px;
  transition: background-color 0.8s;
  margin: 0 auto;
  display: block;
  border-color: white;
  margin-top: 30px;
}
.save-new-password-btn:hover {
  background-color: #222;
  color: white;
  transition: border-color 0.8s ease, color 0.8s ease;
}
#toggle-new-password-confirm-register,
#toggle-new-password-register {
  background-color: transparent;
  color: #666;
  border: none;

  position: absolute;
  top: 50%;
  right: 10px; /* Відступ від правого краю поля */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

/* 
---------------------- */
.successful-recovery {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 40000;

  background-color: #01070a;
  border-radius: 50px;
  border: 1px solid white;

  padding: 18px 70px 100px 70px;
}
.successful-recovery-text {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}
/* ----- Підтвердження особи ------- */

#verification-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #01070a;
  border: 1px solid white;
  color: white;
  padding: 18px 60px 60px 70px;
  width: 400px;
  text-align: center;
  border-radius: 50px;
  z-index: 2000;
}
.close-verify-btn {
  text-align: left;
}
.close-verify-title {
  margin-top: 10px;
  font-size: 24px;
}
.verification-modal-text {
  font-size: 11px;
}
#resend-btn {
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  margin-top: 25px;
  margin-bottom: 6px;
}

/* спінер */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
  display: block;
  margin: auto auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
