body {
    padding: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    /* Центрує по горизонталі */
    align-items: center;
    /* Центрує по вертикалі */
}

.title {}

.h {
    transform: rotate(180deg);
    position: fixed;
    /* Фіксоване розташування */
    top: -40px;
    /* Відступ від верхнього краю */
    left: 20px;
    /* Відступ від лівого краю */
    font-weight: bold;
    font-size: 60px;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
}

.hh {
    font-size: 30px;
    position: absolute;
    /* Фіксоване розташування */
    top: 150px;
    /* Відступ від верхнього краю */
    left: -100px;
    /* Відступ від лівого краю */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
}

.hhh {
    font-size: 30px;
    position: absolute;
    /* Фіксоване розташування */
    top: 600px;
    /* Відступ від верхнього краю */
    left: -150px;
    /* Відступ від лівого краю */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
}

.hhhh {
    font-size: 50px;
    position: absolute;
    /* Фіксоване розташування */
    font-weight: bold;
    top: 1000px;
    /* Відступ від верхнього краю */
    left: 790px;
    /* Відступ від лівого краю */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    width: 500px;
}

.hhhhh {
    font-size: 25px;
    position: absolute;
    /* Фіксоване розташування */
    top: 1150px;
    /* Відступ від верхнього краю */
    left: 580px;
    /* Відступ від лівого краю */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    text-align: center;
    width: 700px;
}

.hhhhhh {
    font-size: 25px;
    position: absolute;
    /* Фіксоване розташування */
    top: 1800px;
    /* Відступ від верхнього краю */
    left: -50px;
    /* Відступ від лівого краю */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    text-align: center;
    width: 700px;
}

.hhhhhhh {
    font-size: 25px;
    position: absolute;
    /* Фіксоване розташування */
    top: 1850px;
    /* Відступ від верхнього краю */
    left: -700px;
    /* Відступ від лівого краю */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    opacity: 0.5;
    text-align: center;
    width: 700px;
}

.secondary-text {
    font-size: 16px;
    position: fixed;
    top: 20px;
    left: 150px;
    opacity: 0.5;
    font-family: "Montserrat Alternates", sans-serif;
    color: #FFFFFF;
}

#my-navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
    background: "dark";

    /* Абсолютне позиціонування меню в правому верхньому куті*/
    position: absolute;
    top: 20px;
    /* Відступ зверху */
    left: 550px;
    /* Відступ з правого боку */
    z-index: 1000;
    /* Щоб меню було вище за інший контент */
}

#my-navigation a {
    text-decoration: none;
    /* Прибирає підкреслення */
    color: white;
    /* Білий колір тексту */
    padding: 10px 30px;
    /* Відступи для збільшення ширини кнопки */
    border: 2px solid transparent;
    /* Початковий прозорий бордер */
    border-radius: 25px;
    /* Овальна форма */
    transition: border-color 0.8s ease, color 0.8s ease;
    /* Плавний перехід */
    display: inline-block;
    /* Забезпечує, щоб кнопка була інлайн-блоком */
}

/* Стиль при наведенні */
#my-navigation a:hover {
    border-color: white;
    /*  Фіолетова обводка */
    color: white;
    /* Зміна кольору тексту при наведенні */
}

.menu-items {
    display: flex;
    font-family: "Montserrat Alternates", sans-serif;
    gap: 50px;
}

.button {
    background-color: black;
    /* Синій колір кнопки */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    /* Білий текст */
    border: 2px solid transparent;
    padding: 5px 70px;
    /* Відступи */
    top: 625px;
    /* Зміщення вниз */
    left: 375px;
    /* Зміщення вправо */
    font-size: 30px;
    /* Розмір тексту */
    border-radius: 50px;
    /* Закруглені кути */
    transition: background-color 0.8s;
    /* Анімація зміни кольору */
    position: absolute;
    /* Додає зміщення */
}


.button:hover {
    border-color: white;
    /*  Фіолетова обводка */
    color: white;
    /* Зміна кольору тексту при наведенні */
    transition: border-color 0.8s ease, color 0.8s ease;
}

.button1 {
    background-color: black;
    /* Синій колір кнопки */
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    /* Білий текст */
    border: 2px solid transparent;
    padding: 5px 70px;
    /* Відступи */
    top: 1750px;
    /* Зміщення вниз */
    left: -50px;
    /* Зміщення вправо */
    font-size: 30px;
    /* Розмір тексту */
    border-radius: 50px;
    /* Закруглені кути */
    transition: background-color 0.8s;
    /* Анімація зміни кольору */
    position: absolute;
    /* Додає зміщення */
}


.button1:hover {
    border-color: white;
    /*  Фіолетова обводка */
    color: white;
    /* Зміна кольору тексту при наведенні */
    transition: border-color 0.8s ease, color 0.8s ease;
}

.white-line {
    height: 2px;
    /* Висота лінії */
    background-color: white;
    /* Колір лінії */
    width: 100%;
    /* Ширина лінії */
    position: absolute;
    /* Додає зміщення */
    top: 800px;
    /* Зміщення вниз */
    left: -530px;
    /* Зміщення вправо */
}

.image-container {
    position: absolute;
    /* Додає зміщення */
    top: 200px;
    /* Зміщення вниз */
    left: -400px;
    /* Зміщення вправо */
    display: flex;
    /* Встановлюємо флекс-контейнер для горизонтального розташування зображень */
    gap: 70px;
    /* Відступ між зображеннями */
    margin-top: 60px;
    /* Відступ зверху */
    justify-content: center;
    /* Центруємо зображення по горизонталі */
}

/* Стилі для кожного зображення */
.image {
    width: 110px;
    height: 300px;
    border-radius: 50px;
    /* Округлення кутів зображень */
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Зображення покриває весь блок */
}

.image1 {
    position: fixed;
    /* Дозволяє переміщення */
    top: 600px;
    /* Початкове розташування */
    left: 1100px;
    /* Початкове розташування */
    display: inline-block;
    overflow: hidden;
}

.image1 img {
    width: auto;
    /* Зберігає реальну ширину */
    height: auto;
    /* Зберігає пропорції */
    display: inline-block;
    overflow: hidden;
}

.image2 {
    position: absolute;
    /* Дозволяє переміщення */
    top: 1000px;
    /* Початкове розташування */
    left: -500px;
    /* Початкове розташування */
}

.image2 img {
    width: 1000px;
    /* Зберігає реальну ширину */
    height: 700px;
    /* Зберігає пропорції */
}

.image3 {
    position: absolute;
    /* Дозволяє переміщення */
    top: 1780px;
    /* Початкове розташування */
    left: 800px;
    /* Початкове розташування */
}

.image3 img {
    width: 200px;
    /* Зберігає реальну ширину */
    height: 100px;
    /* Зберігає пропорції */
}