h2 {
    margin: 48px auto 55px auto;
    color: #FFF;
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 32px;
    font-weight: 600;
}

h3 {
    color: #FFF;
    font-family: "Montserrat Alternates";
    font-size: 17px;
    font-weight: 600;
}

p {
    color: #FFF;
    font-family: "Montserrat Alternates";
    font-size: 17px;
    font-weight: 300;
}

.saved-films__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1100px;

    margin: 0 auto;
}

.film__container {
    max-width: 473px;

    img {
        width: 87px;
        height: 130px;
        border-radius: 20px;
        object-fit: cover;
    }

    .film__card {
        display: flex;
    }

    .film__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .film__info-header {
            display: flex;
            flex-direction: column;
            gap: 2px;
            padding-left: 5px;
        }
        
    }

    button {
        border: none;
        background: none;
        cursor: pointer;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .description {
        margin-top: 6px;
    }
}

hr {
    margin-top: 51px;
    margin-bottom: 55px;

    width: 1148px;
    height: 1px;

    background: #FFF;
}