.saved-collections__section {
    
    display: flex;
    flex-wrap: wrap;;

    gap: 50px;

    
    justify-content: center;

    .collection__wrapper {
        max-width: 450px;
        padding: 0 15px;

        h3 {
            color: #FFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: "Montserrat Alternates";
            font-size: 17px;
            font-weight: 600;

            margin-bottom: 11px;
        }
        .meta-data {

            color: #FFF;
            font-family: "Montserrat Alternates";
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            margin-bottom: 20px;

            span {
            font-weight: 600;
            }

            
        }

        .buttons {
            display: flex;
            justify-content: start;
            align-items: end;

            flex-wrap: wrap;

            gap: 14px;


            margin-bottom: 30px;
        }

        .show-collection__btn {
            color: #FFF;
            font-family: "Montserrat Alternates";
            font-size: 14px;
            font-weight: 300;

            background: none;
            border: 1px solid #FFF;
            border-radius: 50px;

            height: 30px;

            
        }

        .delete-collection__btn {
            background: none;
            border: none;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}