/* ---------- COMMON STYLES ----------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* p:last-child {
  margin-bottom: 0;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: white;

  font-family: "Montserrat", sans-serif;

  font-weight: 400;
  font-style: normal;
}

/* ---------- СТИЛІ КОНТЕЙНЕРА ------------- */
.modal {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #01070a;
  border: 1px solid white;
  border-radius: 30px;
  padding: 4vh 4vw;
  width: 36.609vw;
  height: 70vh;

  display: none;
  padding-bottom: 60px;
}

.form {
  overflow-y: auto;

  width: 36.609vw;

  flex-grow: 1;
  max-height: calc(70vh - 5.556vh);
  scrollbar-width: thin;
  scrollbar-color: #777 #444;
}

.form ::-webkit-scrollbar {
  width: 4px;
}

.form::-webkit-scrollbar-track {
  background-color: #444;
  border-radius: 10px;
}

.form::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.form::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.hide {
  display: none;
}

.modal-wrapper {
  position: relative;
}
.modal.show {
  display: block;
}
.question-wrapper {
  display: flex;
  margin-bottom: 40px;
  /* width: 36.609vw; */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
}
.modal-overlay.show {
  display: block;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
}

/* ---стилі тексту- */

.form-title {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.875vw;
  padding-left: 30px;
  margin-bottom: 7px;
}

.form-info {
  font-size: 0.625vw;
  width: 19.141vw;
  text-align: center;
  margin-bottom: 25px;
}

.required-field {
  color: #bc0000;
  font-size: 0.625vw;
  margin-bottom: 3px;
}

.question {
  font-size: 1.73vw;
  font-weight: 300;
  margin-bottom: 10px;
}

.question-add {
  font-size: 2vw;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}
/* питання ФОРМИ */
.question-number-container {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 1.25vw;
  font-weight: 600;
  box-sizing: border-box;
}

.question-number {
  margin: 0;
  padding: 1.172vw;
}

.question-item {
  margin-left: 20px;
}

/* ПЕРШЕ питання */

/* Вибір настрою */
.mood-options {
  display: flex;
  gap: 1.797vw;
}

.mood-option {
  text-align: center;
  cursor: pointer;
}

.mood-option input {
  display: none;
}

.mood-option .icon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.mood-option:hover .icon {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.mood-option span {
  font-size: 0.625vw;
}

/* Активний стан (коли вибрано) */
.mood-option input:checked + .icon {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.mood-option input:focus + .icon {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.mood-option input:checked + .icon + span {
  font-weight: bold;
}
.mood-option input:focus + .icon + span {
  font-weight: bold;
}
.mood-option input:checked ~ .icon img {
  border-radius: 50%;
  outline: 2px solid rgba(188, 0, 0, 0.7);
}

/* ДРУГЕ ПИТАННЯ */

/* Загальний стиль для контейнера слайдера */
.slider-group {
  position: relative;
  width: 300px;
  height: 5px;
  margin: 20px 0;
  border: none;
}

/* Загальний стиль для доріжки */
.lower-range-slider,
.upper-range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  background: transparent;
  z-index: 1;
}

/* Доріжка слайдера */
.lower-range-slider::-webkit-slider-runnable-track,
.upper-range-slider::-webkit-slider-runnable-track {
  height: 1px;
  background: #ffffff;
  border-radius: 3px;
}

.lower-range-slider::-moz-range-track,
.upper-range-slider::-moz-range-track {
  height: 1px;
  background: #ffffff;
  border-radius: 3px;
}

/* Стилі для повзунка */
.lower-range-slider::-webkit-slider-thumb,
.upper-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  z-index: 2;
  position: relative;
  transform: translateY(-50%);
}
.lower-range-slider::-moz-range-thumb,
.upper-range-slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

/* Стилі для підписів */
.slider-labels,
.slider-labels-add {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  font-size: 0.938vw;
  color: white;
  position: relative;
}

.question-item {
  position: relative;
}

/* стилі для рисочок */

.slider-labels span,
.slider-labels-add span {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-labels span::after,
.slider-labels-add span::after {
  content: "";
  width: 1px;
  height: 16px;
  background: white;
  position: absolute;
  top: -29px;
}

/* Позиціюємо кожну рисочку */

.slider-labels span:nth-child(2) {
  left: -12px; /* Позиція другого підпису */
}

.slider-labels span:nth-child(3) {
  left: 3px; /* Позиція третього підпису */
}
.slider-labels span:nth-child(4) {
  left: 16px; /* Позиція третього підпису */
}

/* Для першої рисочки */
.slider-labels span:first-child::after {
  left: 8px;
}

/* Для останньої рисочки */
.slider-labels span:last-child::after {
  right: 4px;
}

/* ТРЕТЄ ПИТАННЯ */

.radio-button-field + span {
  display: inline-block;
  margin-right: 6px;
  padding: 6px 15px;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 0.625vw;
  font-weight: 200;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 6px;
}

.radio-button-field + span:hover {
  background-color: #222;
}

.radio-button-field {
  display: none;
}

.radio-button-field:checked + span {
  background-color: #d9d9d966;
  color: rgb(255, 255, 255);
  border-color: white;
  border-radius: 20px;
}
.radio-button-label-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.radio-button-label-add span {
  font-size: 30px;
}
.radio-button-label:focus {
  border-radius: 30px;
}
/* ЧЕТВЕРТЕ ПИТАННЯ */
.input-field-label {
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  display: block; /* змінили на block, щоб помилка була під полем вводу */
}

.input-field-label span {
  font-size: 0.625vw;
  font-weight: 400;
  color: white;
}

.text-input-field {
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 3px auto;
  text-align: center;
  font-size: 0.938vw;
  width: 83px;
  height: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.text-input-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.625vw;
}

.question-item label input[type="text"]:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* П'ЯТЕ ПИТАННЯ */
.checkbox-button-field + span {
  display: inline-block;
  margin-right: 6px;
  padding: 6px 15px;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 0.625vw;
  font-weight: 200;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 6px;
}
.checkbox-button-field + span:hover {
  background-color: #222;
}
.checkbox-button-field {
  display: none;
}
.checkbox-button-field:checked + span {
  background-color: #d9d9d966;
  color: rgb(255, 255, 255);
  border-color: white;
  border-radius: 20px;
}
.checkbox-button-label:focus {
  border-radius: 30px;
}
/* кнопка */
.button {
  width: 300px;
  display: block;
  /* justify-self: center;
  justify-content: center; */

  background-color: transparent;
  color: white;
  font-size: 1.094vw;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* margin-bottom: 10px; */
  margin: 10px auto;
}

/* ДОДАТКОВІ ПИТАННЯ */

/* ВИПАДАЮЧИЙ СПИСОК */

/* перше питання */
.dropdown-label {
  .dropdown-select {
    cursor: pointer;

    width: 141px;
    height: 22px;

    border-radius: 50px;
    border: 1px solid #fff;
    background: transparent;

    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .dropdown-select option {
    background: #01070a;
  }
  /* .dropdown-select option:hover {
 
  } */
  .dropdown-select::-webkit-select-placeholder {
    width: 141px;
    min-height: 94px;

    border-radius: 50px;
    border: 1px solid #fff;
    background: #01070a;

    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.button:hover {
  background-color: #d9d9d966;
}

/* ТРЕТЄ ПИТАННЯ (додаткове) */

/* Загальний стиль для доріжки */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  background: transparent;
  z-index: 1;
}

.range-slider::-webkit-slider-runnable-track {
  height: 1px;
  background: #ffffff;
  border-radius: 3px;
}
.range-slider::-moz-range-track {
  height: 1px;
  background: #ffffff;
  border-radius: 3px;
}
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  z-index: 2;
  position: relative;
  transform: translateY(-50%);
}
.range-slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.slider-labels-add {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 10px;
  font-size: 0.938vw;
  color: white;
}
.slider-labels-add span {
  position: absolute;
  bottom: -20px; /* Щоб текст був прямо під рисками */
  transform: translateX(-50%); /* Центрування */
  white-space: nowrap;
}
/* Позиції підписів для кожного степу */
.slider-labels-add span:first-child {
  left: 8px;
}
.slider-labels-add span:nth-child(2) {
  left: 50%;
}
.slider-labels-add span:last-child {
  left: 100%;
}

/* Рисочки */
.slider-labels-add span::after {
  content: "";
  width: 2px;
  height: 16px;
  background: white;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

/* модальне вікно, де питають про розширену добріку*/
#isOpenNewFiltersModalWindow {
  display: none;
  z-index: 20000000;
}
.question-item-add {
  padding: 40px;
  margin-top: 100px;
}
/* CLOSE BUTTON */
.btn-close {
  background-color: #01070a;
  border: none;
  color: white;
  font-size: 1.953vw;
  position: absolute;
  top: 25px;
  left: 25px;
}
.error-message {
  color: red;
  font-size: 1.094vw;
  margin-top: 5px;
}

.error-input-min,
.error-input-max {
  font-size: 0.625vw;
  color: red;
  display: none;
  margin-top: 8px;
  margin-left: 0;
}

/* СПІНЕР */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.spinner-container img {
  width: 50px;
  height: 50px;
}

.error-message-container {
  font-size: 0.625vw;
  color: red;
  display: none;
  margin-top: 8px;
  margin-left: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    /* Початкове положення */
  }

  to {
    transform: rotate(360deg);
  }
}

/* ========================== FULL HD ================================================ */
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .question {
    margin-bottom: 20px;
  }
  .question-number-container {
    width: 40px;
    height: 40px;
  }

  .question-number {
    padding: 1.172vw;
  }

  /* Перше питання */
  .mood-option .icon {
    width: 70px;
    height: 70px;
  }

  /* ДРУГЕ ПИТАННЯ */

  /* Загальний стиль для контейнера слайдера */
  .slider-group {
    width: 400px;
  }

  /* Загальний стиль для доріжки */
  .lower-range-slider,
  .upper-range-slider {
    width: 400px;
    top: 50%;
  }

  /* Позиціюємо кожну рисочку */

  .slider-labels span:nth-child(2) {
    left: -14px; /* Позиція другого підпису */
  }

  .slider-labels span:nth-child(3) {
    left: 11px; /* Позиція третього підпису */
  }
  .slider-labels span:nth-child(4) {
    left: 30px; /* Позиція третього підпису */
  }

  /* Для останньої рисочки */
  .slider-labels span:last-child::after {
    right: 4px;
  }

  /* ЧЕТВЕРТЕ ПИТАННЯ */

  .text-input-field {
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 3px 3px;
    text-align: center;
    font-size: 0.938vw;
    width: 90px;
    height: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .text-input-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.625vw;
  }

  .question-item label input[type="text"]:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
}

/* умови використання + політика кофеден */
.confidentiality {
  text-decoration: underline;
}
#surveyModal {
  display: none;
}
