@use "@/app/styles/variables" as *;

.bestFilmCard__container {
    position: relative;
}

.poster__img {
    width: 103px;
    height: 280px;
    border-radius: 50px;

    object-fit: cover;

    @media (min-width: 1600px) {
        width: 194px;
        height: 525px;
        border-radius: 75px;
    }

    // 1440x900
    @media (min-width: 1366px) and (max-width: 1599px) {
        width: 116px;
        height: 350px;
        border-radius: 56px;
    }
}

.bestFilmCard__info {
    display: none;

    background-color: $color-background-light;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .info__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 11px;

        max-width: 209px;
    }

    .title__text {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .description__text {
        font-size: 11px;
        font-weight: 300;
        text-align: center;
    }

    .rating__text {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    &.right {
        align-items: flex-end;
    }
}

.bestFilmCard__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;

    width: 103px;
    height: 280px;

    @media (min-width: 1920px) {
        width: 194px;
        height: 525px;
    }

    // 1440x900
    @media (min-width: 1366px) and (max-width: 1919px) {
        width: 116px;
        height: 350px;
    }

    .sadSmile {
        margin: 0;
        font-size: 64px;
        font-weight: 400;
        text-align: center;
        color: $color-accent;
    }

    .errorMessage {
        margin: 0 auto;
        font-size: 13px;
        color: $color-accent;
        width: 100px;
        text-align: center;
    }
}
