@use "@/app/styles/variables" as *;

.modal {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(12.5px);

    position: fixed;
    top: 0;
    left: 0;

    display: none;
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    border-radius: 50px;
    border: 1px solid $color-text;
    background: $color-background;

    width: 443px;
    max-height: 76.39vh;

    // overflow-y: hidden;
    // overflow-x: hidden;

    position: relative;
}

.content__wrapper {
    padding: 65px 35px;
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 40px;
}

.closeButton:hover {
    cursor: pointer;
}
